<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codepresso.mapper.postMapper">

	<resultMap id="postResult" type="postVO">
		<result property="id" column="id" />
		<result property="user_Id" column="user_id" />
		<result property="content" column="content" />
		<result property="title" column="title" />
		<result property="created_At" column="created_at" />
	</resultMap>


	<select id="selectAllPost" resultMap="postResult">
      <![CDATA[
         select * from codepresso.post
         ORDER BY created_at DESC	
      ]]>
	</select>

	<insert id="insertPost" parameterType="postVO">
		<![CDATA[
		 insert into codepresso.post(user_id,title, content)
		 values(#{user_Id},#{title}, #{content})
		]]>
	</insert>
	<select id="selectPostById" resultMap="postResult">
      <![CDATA[
         select * from codepresso.post
         where user_Id = #{user_Id}
         ORDER BY created_at DESC	
      ]]>
	</select>

	<select id="selectByPostId" resultMap="postResult">
      <![CDATA[
         select * from codepresso.post
         where id = #{id}	
      ]]>
	</select>

	<delete id="deletePost" parameterType="postVO">
		<![CDATA[
	   delete from codepresso.post
	   where
	   id=#{id}
	]]>
	</delete>
	<update id="updatePost" parameterType="postVO">
		<![CDATA[
	   update codepresso.post
	   set title = #{title},content = #{content}
	   where
	   id=#{id}
	]]>
	</update>
	<select id="selectOnePostById" resultMap="postResult">
      <![CDATA[
         select * from codepresso.post
         where user_Id = #{user_Id}
         ORDER BY created_at DESC
         Limit 1	
      ]]>
	</select>




</mapper>